.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 5vh;
    
    h1 {
        margin-top: 6vh;
        font-size: clamp(26px, 4vw, 36px);
    }
}

.statsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;

    margin-bottom: 7vh;

    img {
        width: 40px;
        height: 40px;
    }

    .stat {
        padding: 8px;
        background: linear-gradient(90deg, #dab00ce4, #ffbb00e1);
        width: 83vw;
        max-width: 420px;
        height: 10vh;
        border-radius: 16px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;


        .imgContainer {
            border: 2px solid white;
            border-radius: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
        }

        h2 {
            margin: 0;
        }

        p {
            margin: 0;
            font-size: clamp(14px, 4vw, 18px);
            font-weight: bold;
        }
    }
}

@media (max-width: 932px) and (max-height: 430px) and (orientation: landscape) {


    .statsContainer {
        .stat {
            height: 14vh;
        }
    }
}

@media (max-width: 768px) {
    .main {
        
        h1 {
            margin-top: 2vh;
    
        }
    }
}